absl-py==1.4.0
altgraph==0.17.3
aniso8601==8.0.0
asgiref==3.7.2
astor==0.8.1
attrs==22.2.0
auto-py-to-exe==2.27.0
autopy==4.0.0
beautifulsoup4==4.11.1
bottle==0.12.23
bottle-websocket==0.2.9
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.5
colorama==0.4.6
crypto==1.4.1
Crypto.Cipher==1
dataclasses==0.6
distlib==0.3.6
Django==3.2.19
django-widget-tweaks==1.4.12
dnspython==2.3.0
easyocr==1.6.0
Eel==0.14.0
filelock==3.12.2
Flask==2.2.5
Flask-Login==0.6.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
future==0.18.3
gast==0.5.4
gevent==22.10.2
gevent-websocket==0.10.1
gitdb==4.0.10
GitPython==3.1.18
google==3.0.0
greenlet==2.0.2
grpcio==1.56.0
gTTS==2.3.1
gunicorn==21.2.0
idna==3.4
imageio==2.25.0
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.1
MarkupSafe==2.1.3
marshmallow==3.5.2
marshmallow-sqlalchemy==0.23.0
mediapipe==0.8.3.1
mock==5.1.0
MouseInfo==0.1.3
mrjob==0.7.4
mysql-connector==2.2.9
mysql-connector-python==8.0.33
Naked==0.1.32
networkx==2.6.3
ninja==1.11.1
numpy==1.21.6
openai==0.8.0
opencv-python==4.0.0.21
opencv-python-headless==4.5.4.60
packaging==23.1
pandas-stubs==1.2.0.62
pefile==2022.5.30
Pillow==9.5.0
platformdirs==3.8.1
protobuf==3.20.3
PyAutoGUI==0.9.53
pyclipper==1.3.0.post4
pycparser==2.21
pygame==2.4.0
PyGetWindow==0.0.9
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
pyinstaller-hooks-contrib==2022.15
PyJWT==2.4.0
pymongo==4.4.1
PyMsgBox==1.0.9
PyMySQL==1.1.0
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
pyTelegramBotAPI==4.9.0
python-bidi==0.4.2
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
pytweening==1.0.4
pytz==2020.1
PyWavelets==1.3.0
pywin32-ctypes==0.2.0
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
scikit-image==0.19.3
scipy==1.7.3
shapely==2.0.0
shellescape==3.8.1
six==1.14.0
smmap==5.0.0
soupsieve==2.3.2.post1
SQLAlchemy==1.3.16
sqlparse==0.4.4
termcolor==2.3.0
tflearn==0.5.0
tifffile==2021.11.2
torch==1.13.1
torchvision==0.14.1
tqdm==4.65.0
typing_extensions==4.7.1
urllib3==2.0.3
virtualenv==20.23.1
Werkzeug==2.2.3
whichcraft==0.6.1
WTForms==3.0.1
zipp==3.15.0
zope.event==4.6
zope.interface==5.5.2
