#asgiref==3.7.2
#Django==3.2.22
#pytz==2023.3.post1
#sqlparse==0.4.4
#typing_extensions==4.7.1
#django-dotenv
#gunicorn
#Pillow
#django-widget-tweaks

django>=3.2,<4.0
gunicorn
requests
django-dotenv
psycopg2-binary
django-storages
boto3
Pillow
django-widget-tweaks
mysqlclient
WhiteNoise