{% extends 'layout.html' %}
{% load static %}
{% block content %}

<main class="main">
    <div class="page-header text-center" style="background-image: url( {% static 'assets/images/page-header-bg.jpg' %} )"> <!--url('assets/images/page-header-bg.jpg')-->
        <div class="container">
            <h1 class="page-title">POLICY<span>molla</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'register' %}">Register</a></li>
                <li class="breadcrumb-item active" aria-current="page">Our Policy</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">

                <div>

                    <h1>molla Content Policy</h1>
                
                    <p>Effective Date: NOV 23</p>
                
                    <p>Thank you for using molla. To ensure a safe and respectful environment for all users, we have established the following content policy. By accessing or using our website, you agree to comply with these guidelines. We reserve the right to enforce these rules and take appropriate action, including but not limited to content removal and account suspension, for violations of this policy.</p>
                    <br><br>
                    <h2>1. Prohibition of Content that Violates Business Ethics:</h2>
                
                    <p>Users are strictly prohibited from publishing any content that violates business ethics. This includes, but is not limited to, fraudulent activities, misleading information, and any other practices that undermine the trust and integrity of our community.</p>
                    <br><br>
                    <h2>2. Prohibition of Sexual Content:</h2>
                
                    <p>No content of a sexual nature is allowed on molla. This includes explicit images, sexual games, or any other material intended for adult audiences. We strive to maintain a family-friendly environment and encourage users to respect this standard.</p>
                    <br><br>
                    <h2>3. Prohibition of Violent Content:</h2>
                
                    <p>Content that promotes violence, showcases weapons products, or involves any crime tools is strictly prohibited. This includes, but is not limited to, images, videos, or written descriptions that glorify violence or criminal activities. We prioritize the safety and well-being of our users, and such content will not be tolerated.</p>
                    <br><br>
                    <h2>4. Exclusion of Drug Content:</h2>
                
                    <p>While we do not permit the publication of content related to illegal drugs or pharmaceutical products, we acknowledge that legitimate discussions surrounding drug-related topics may occur. Users are expected to adhere to applicable laws and regulations when discussing such subjects. Any content that promotes or encourages illegal drug use is strictly prohibited.</p>
                    <br><br>
                    <h2>5. General Content Guidelines:</h2>
                
                    <p>Users must not publish any content, whether textual or visual, or engage in any gestures that violate local, national, or international laws and regulations. This includes, but is not limited to, hate speech, harassment, and any other form of harmful or discriminatory behavior.</p>
                    <br><br>
                    <h2>Reporting Violations:</h2>
                
                    <p>If you encounter any content that violates this policy, please report it to our moderation team promptly. We take user reports seriously and will investigate each case thoroughly.</p>
                    <br><br>
                    <h2>Policy Enforcement:</h2>
                
                    <p>Violations of this content policy may result in various actions, including content removal, account suspension, or permanent ban, depending on the severity and recurrence of the offense. We reserve the right to modify or update this policy at any time, and it is the user's responsibility to stay informed about any changes.</p>
                
                    <p>Thank you for your cooperation in creating a positive and respectful community on molla.</p>
                
                </div>

            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

{% endblock %}